@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(13, 7, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoCard {
  width: 45%;
  height: auto;
  border-radius: 20px;
  background-color: rgb(29, 24, 37);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.newTask {
  width: 80%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  margin: 40px auto 0;
  align-items: center;
}

label {
  width: 85%;
  height: 80%;
  align-items: center;
  display: flex;
}

#newTask {
  width: 100%;
  border: 1px solid rgb(158, 120, 207);
  background-color: rgb(29, 24, 37);
  color: rgb(119, 119, 119);
  line-height: 19.36px;
  border-radius: 10px;
  font-weight: 400;
  padding: 7px;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.addButton {
  width: 8%;
  height: 80%;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  border: none;
  background-color: rgb(158, 120, 207);
  color: rgb(255, 255, 255);
  padding: 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.addButton i {
  font-size: 18px;
  padding-top: 3px;
}

.addButton:disabled {
  background-color: rgb(196, 178, 219);
}

@media screen and (max-width: 1024px) {
  .newTask {
    display: flex;
    flex-direction: column;
  }
  .addButton {
    width: 85%;
    margin-top: 5px;
  }
  .addButton i {
    font-size: 20px;
    padding-top: 4px;
  }
}
.tasks {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 40px auto 25px;
}
.tasks .numberOfTask {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  margin-bottom: 15px;
}
.tasks ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.tasks li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(21, 16, 28);
  color: rgb(158, 120, 207);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.tasks li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  cursor: pointer;
}
.tasks .btns {
  display: flex;
  gap: 8px;
}
.tasks .btns button {
  border: none;
  padding: 5px;
  background-color: inherit;
  color: rgb(158, 120, 207);
  font-size: 18px;
}
.tasks #checkButton:hover {
  color: lime;
}
.tasks #deleteButton:hover {
  color: blue;
}

.clearButton {
  width: 50%;
  height: auto;
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 19.36px;
  border-radius: 10px;
  border: none;
  align-items: center;
  text-align: center;
  border: none;
  background-color: rgb(158, 120, 207);
  color: rgb(255, 255, 255);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.doneTasks {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 40px auto 25px;
}
.doneTasks .numberOfTask {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  margin-bottom: 15px;
}
.doneTasks ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.doneTasks li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(21, 16, 28);
  color: rgb(120, 207, 176);
  padding: 20px;
  text-decoration: line-through;
  border-radius: 10px;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.doneTasks li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  cursor: pointer;
}
.doneTasks .btns button {
  border: none;
  padding: 5px;
  background-color: inherit;
  color: rgb(158, 120, 207);
  font-size: 18px;
}

.custom-abbr {
  position: relative;
  text-decoration: none;
}

.custom-abbr::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.custom-abbr:hover::after {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=main.css.map */
